{% extends "home/layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

<div class="box">
  <div class="pos">
    <ul>
      <li>当サイト制作者：</li>
      <li>連絡先：</li>
    </ul>
  </div>
  <div class="person">
    <ul>
      <li>NAME</li>
      <li>TEL＿NUM</li>
    </ul>
  </div>
</div>


{% endblock %}
</body>
</html>

