{% extends "home/layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <div class="search">
    <form action="{% url 'list:list' %}" method="get">
        <div class="search_c">
        <input name="query" value="{{ request.GET.query }}" type="text" id="search-text">
        <button type="submit" id='search-buttun'>検索する</button>
        </div>
    </form>
    </div>
    <div class="area_m">
    <nav class="area">
    <h2 class="title">エリア検索</h2>
    <ul>
        <li>北海道</li>
        <li>東北</li>
        <li>関東</li>
        <li>中部・近畿</li>
        <li>四国</li>
        <li>九州</li>
        <li>沖縄</li>
    </ul>
    </nav>
    </div>
    <div class="item">
      <div class="item_image">
        <img class="img" src = "media/index/image10_3.png" width="300px" height = "auto">
      </div>
      <div class="item-text">
        <h2>コロナ禍で不安になっているあなたに</h2>
        <p>
          緊急事態宣言によって外出が制限されてしまいました。<br>
          宣言が解除された今でも<br>
          外出に不安を感じたりしませんか？<br>
          このサイトで気になるお店や施設を見つけてお出かけしましょう
        </p>
      </div>
    </div>
    <div class="item">
      <div class="item_image">
        <img class="img" src = "media/index/portal_top.jpeg" width="300px" height = "auto">
      </div>
      <div class="item-text">
        <h2>コロナ禍で不安になっているお店の方へ</h2>
        <p>
          コロナ禍の影響でお仕事に影響が出たでしょう<br>
          このサイトを利用してぜひお店のアピールをしてください<br>
          他のお店の情報からあなたのお店で<br>
          活かせるものがあるかもしれません
        </p>
      </div>
    </div>
  </div>

    <div class="tag">
        <h2>タグ検索</h2>
        <ul>
            <li>
              <form method="get" action="{% url 'list:list' %}">
                  {% csrf_token %}
                  <input type="image" name="check" value="check_23" src='media/all/023.png' width="auto" height="75px">
              </form>
            </li>
            <li>
              <form method="get" action="{% url 'list:list' %}">
                  {% csrf_token %}
                  <input type="image" name="check" value="check_33" src='media/all/033.png' width="auto" height="75px">
              </form>
            </li>
            <li>
              <form method="get"action="{% url 'list:list' %}">
                  {% csrf_token %}
                  <input type="image" name="check" hello="check_34" src='media/all/034.png' width="auto" height="75px">
              </form>
            </li>
            <li>
              <form method="get" action="{% url 'list:list' %}">
                  {% csrf_token %}
                  <input type="image" name="check" value="check_34" src='media/all/035.png' width="auto" height="75px">
              </form>
            </li>
            <li>
              <form method="get" action="{% url 'list:list' %}">
                  {% csrf_token %}
                  <input type="image" name="check" value="check_36" src='media/all/036.png' width="auto" height="75px">
              </form>
            </li>
            <li>
              <form method="get" action="{% url 'list:list' %}">
                  {% csrf_token %}
                  <input type="image" name="check" value="check_41" src='media/all/041.png' width="auto" height="75px">
              </form>
            </li>

        </ul>
    </div>

{% endblock %}
</body>
</html>
