{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">

</head>
<body>

    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <nav>
        <ul class="gnav-navi-1">
            <li><a href="{% url 'home:index' %}">TOP<br>トップ</a></li>
            <li><a href="{% url 'home:service' %}">SERVICE<br>サービスについて</a></li>
            <li><a href="{% url 'list:list' %}">LIST<br>お店一覧</a></li>
            <li><a href="{% url 'home:contact' %}">CONTACT<br>お問合せ</a></li>
            <li><a href="{% url 'list:detail' %}">REGISTER<br>登録</a></li>
        </ul>
    </nav>

    {% block content %}

    {% endblock %}

</body>
</html>
