{% extends "home/layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

<h1>サービス</h1>

<div class="contents">
  <div class="title">
    <h2>１．投稿されたお店の閲覧</h2>
    <img src="media/index/detail.png" width="400px" height="auto">
  </div>
  <div class="text">
    <h3>
      本サイトに登録されたお店や施設の閲覧ができます。<br>
      名前や住所などはもちろんのこと、<br>
      「お店のコロナ対策」や<br>「お店からお客様へのお願い」も掲載されています。
    </h3>
  </div>
</div>

<div class="contents">
  <div class="title">
    <h2>２．お店の登録</h2>
    <img src="media/index/register.png" width="400px" height="auto">
  </div>
  <h3 class="text">
    本サイトにお店や施設の情報を登録することができます。<br>
    基本情報に加えて「お店のコロナ対策」や<br>「お店からお客様へのお願い」を登録することで<br>
    お客様へコロナ対策をアピールすることができます。
  </h3>
</div>

<div class="contents">
  <div class="title">
    <h2>３．コメントの登録</h2>
    <img src="media/index/comment.png" width="400px" height="auto">
  </div>
  <h3 class="text">
    本サイトに登録されているお店や施設に<br>コメントを登録することができます。<br>
    感想や疑問をコメントして<br>ユーザー間で情報を共有することができます。<br>
    ※誹謗中傷や根拠のない批判や全否定的なコメントは<br>しないようご協力お願いします。
  </h3>
</div>

{% endblock %}
</body>
</html>

