{% extends "home/layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <h1>登録画面</h1>
    <form method='post' class='form' enctype="multipart/form-data">
      {% csrf_token %}

    <table>
    <tr>
      <th>店名</th>
      <td>
        <input class="titleInput" name="name" type="text" placeholder="お店の名前" required>
      </td>
    </tr>

    <tr>
      <th>郵便番号</th>
      <td>
      <input class="titleInput" name="pos_code" type="text" pattern="[0-9]{3}-[0-9]{4}" placeholder="ex.)111-0000" required>
      </td>
    </tr>

    <tr>
      <th>住所</th>
      <td>
      <input class="titleInput" name="address" type="text" placeholder="OO県 区市町村 住所・建物名"required>
      </td>
    </tr>

    <tr>
      <th>電話番号</th>
      <td>
      <input class="titleInput" name="tel_num" type="tel" pattern="\d{2,4}-\d{2,4}-\d{3,4}" placeholder="ex.)090-1111-2222">
      </td>
    </tr>

    <tr>
      <th>公式サイトなどのURL</th>
      <td>
      <input class="titleInput" name="URL" type="url" placeholder="URL">
      </td>
    </tr>

    <tr>
      <th>概要<br>アピールポイント</th>
      <td>
      <textarea name="views"></textarea>
      </td>
    </tr>

    <div class="boxes">
    <tr>
      <th>コロナ対策</th>
      <td>
        <input type="hidden" name="check_23" value="0">
        <input class="check" type="checkbox" name="check_23" id="box_1" value="1"><label for="box_1">座席の間隔を開けています</label>
        <input type="hidden" name="check_33" value="0">
        <input class="check" type="checkbox" name="check_33" id="box_2" value="1"><label for="box_2">換気の徹底</label>
        <input type="hidden" name="check_34" value="0">
        <input class="check" type="checkbox" name="check_34" id="box_3" value="1"><label for="box_3">従業員のマスク着用・手洗いの徹底</label>
        <input type="hidden" name="check_35" value="0">
        <input class="check" type="checkbox" name="check_35" id="box_4" value="1"><label for="box_4">従業員の健康管理の徹底</label>
        <input type="hidden" name="check_36" value="0">
        <input class="check" type="checkbox" name="check_36" id="box_5" value="1"><label for="box_5">店内の衛生管理の徹底</label>
        <input type="hidden" name="check_41" value="0">
        <input class="check" type="checkbox" name="check_41" id="box_6" value="1"><label for="box_6">食品の衛生管理</label>
      </td>
    </tr>

    <tr>
      <th>コロナ対策<br>お客様へのお願い</th>
      <td>
        <input type="hidden" name="check_2" value="0">
        <input class="check" type="checkbox" name="check_2" id="box_7" value="1"><label for="box_7">ソーシャルディスタンスのお願い</label>
        <input type="hidden" name="check_3" value="0">
        <input class="check" type="checkbox" name="check_3" id="box_8" value="1"><label for="box_8">マスク着用のお願い</label>
        <input type="hidden" name="check_4" value="0">
        <input class="check" type="checkbox" name="check_4" id="box_9" value="1"><label for="box_9">入店は少人数で</label>
        <input type="hidden" name="check_10" value="0">
        <input class="check" type="checkbox" name="check_10" id="box_10" value="1"><label for="box_10">大声を控えて</label>
        <input type="hidden" name="check_12" value="0">
        <input class="check" type="checkbox" name="check_12" id="box_11" value="1"><label for="box_11">消毒のお願い</label>
        <input type="hidden" name="check_15" value="0">
        <input class="check" type="checkbox" name="check_15" id="box_12" value="1"><label for="box_12">並ぶ時は間隔を空けて</label>
        <input type="hidden" name="check_22" value="0">
        <input class="check" type="checkbox" name="check_22" id="box_13" value="1"><label for="box_13">会話を控えて</label>
        <input type="hidden" name="check_28" value="0">
        <input class="check" type="checkbox" name="check_28" id="box_14" value="1"><label for="box_14">マスクをつけて会話</label>
        <input type="hidden" name="check_32" value="0">
        <input class="check" type="checkbox" name="check_32" id="box_15" value="1"><label for="box_15">入退時に消毒のお願い</label>
      </td>
    </tr>
    </div>

    <tr>
      <th>画像ファイル</th>
      <td>
      <input id="imgInput" type="file" name="img" required>
      </td>
    </tr>
    </table>

    <div>
      <button type="submit" class='register'>送信</button>
    </div>
  </form>


  <button class="back"><a href="{% url 'list:list' %}">一覧へ戻る</a></button>
  {% endblock %}
</body>
</html>