{% extends "home/layout.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
<title>{{shop.name}}の情報</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/information.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">


<div class="container">

    <div class="content">
      <div>
        <div class="containt_img">
          <img src="/media/{{ shop.img_url }}" width="auto" height="200px"/>
        </div>

        <ul class="main">
          <li>店名：{{ shop.name }}</li>
          <li>住所：{{ shop.pos_code }} {{ shop.address }}</li>
        </ul>

        <ul class="sab">
          <li>電話番号：{{ shop.tel_num }}</li>
          <li>公式URL：<a href="{{ shop.site_url }}">{{ shop.site_url }}</a></li>
        </ul>
      </div>

        <ul class="measures">
        <p>お店が実施している対策</p>
        <li>
            {% if shop.shop_check.check_23 == 1 %}
            <img src="/media/all/023.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_33 == 1 %}
            <img src="/media/all/033.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_34 == 1 %}
            <img src="/media/all/034.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_35 == 1 %}
            <img src="/media/all/035.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_36 == 1 %}
            <img src="/media/all/036.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_41 == 1 %}
            <img src="/media/all/041.png" width="auto" height="100px">
            {% endif %}
        </li>
        <p>お店からお客様へのお願い</p>
        <li>
            {% if shop.shop_check.check_2 == 1 %}
            <img src="/media/all/002.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_3 == 1 %}
            <img src="/media/all/003.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_4 == 1 %}
            <img src="/media/all/004.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_10 == 1 %}
            <img src="/media/all/010.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_12 == 1 %}
            <img src="/media/all/012.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_15 == 1 %}
            <img src="/media/all/015.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_22 == 1 %}
            <img src="/media/all/022.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_28 == 1 %}
            <img src="/media/all/028.png" width="auto" height="100px">
            {% endif %}
        </li>
        <li>
            {% if shop.shop_check.check_32 == 1 %}
            <img src="/media/all/032.png" width="auto" height="100px">
            {% endif %}
        </li>
        </ul>
      <div>
          <p id="right_bottom">登録ID：{{ shop.id }}</p>
      </div>
    </div>

    <div class="overviews">
        <h1>お店の概要</h1>
        <p>{{shop.views}}</p>
    </div>
</div>
<div class="comments">
    <h2>コメント欄</h2>
    {% if shop.comment_set.all %}
    {% for comment in shop.comment_set.all %}
    <div class="comment">
        <div>
            <ul>
                <li class="title_name">
                    <h2>{{comment.title}}</h2>
                </li>
                <li class="title_name">
                    <p>{{comment.name}}</p>
                    
                </li>
            </ul>
            <div class="comment_m">
                <p>{{comment.comment}}</p>
            </div>
            <div class="comment_d">
                <button class="register_d"><a href="{% url 'list:delete_d' shop.id comment.id %}">コメント削除</a></button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <ul><li>データがないよ</li></ul>
    {% endif %}
</div>

<form method='post' class='form' enctype="multipart/form-data">
    {% csrf_token %}
<div class="Input">
    <ul>
        <li class="wide">
            <input class="titleInput" type="text" name="title" placeholder="コメントタイトル" required>
        </li><!--余白削除用
        --><li class="wide">
            <input class="titleInput" type="text" name="name" placeholder="お名前" required>
        </li>
        <li>
            <textarea class="commentInput" type="text" name="comment"  rows="4" cols="40" placeholder="コメント内容" required></textarea>
        </li>
    </ul>
    <div>
        <button type="submit" class='register'>コメント送信</button>
    </div>
</div>
</form>
<button class="register" id="right_bottom"><a href="{% url 'list:list' %}">一覧へ戻る</a></button>
{% endblock %}
</body>
</html>
