{% extends "home/layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
  <form action="{% url 'list:detail' %}" method="post"></form>
    <div class="container">
      <h1>一覧表示</h1>
      {% if shops %}
      {% for shop in shops %}
      <div class="content">
        <div>
          <div class="containt_img">
            <img src="/media/{{ shop.img_url }}" width="auto" height="200px"/>
          </div>

          <ul class="main">
            <li>店名：<a href="{% url 'list:inf' shop.id %}">{{ shop.name }}</a></li>
            <li>住所：{{ shop.pos_code }} {{ shop.address }}</li>
          </ul>

          <ul class="sab">
            <li>電話番号：{{ shop.tel_num }}</li>
            <li>公式URL：<a href="{{ shop.site_url }}">{{ shop.site_url }}</a></li>
          </ul>
        </div>

        <ul class="measures">
          <p>お店が実施している対策</p>
          <li>
              {% if shop.shop_check.check_23 == 1 %}
              <img src="/media/all/023.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_33 == 1 %}
              <img src="/media/all/033.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_34 == 1 %}
              <img src="/media/all/034.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_35 == 1 %}
              <img src="/media/all/035.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_36 == 1 %}
              <img src="/media/all/036.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_41 == 1 %}
              <img src="/media/all/041.png" width="auto" height="100px">
              {% endif %}
          </li>
          <p>お店からお客様へのお願い</p>
          <li>
              {% if shop.shop_check.check_2 == 1 %}
              <img src="/media/all/002.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_3 == 1 %}
              <img src="/media/all/003.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_4 == 1 %}
              <img src="/media/all/004.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_10 == 1 %}
              <img src="/media/all/010.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_12 == 1 %}
              <img src="/media/all/012.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_15 == 1 %}
              <img src="/media/all/015.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_22 == 1 %}
              <img src="/media/all/022.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_28 == 1 %}
              <img src="/media/all/028.png" width="auto" height="100px">
              {% endif %}
          </li>
          <li>
              {% if shop.shop_check.check_32 == 1 %}
              <img src="/media/all/032.png" width="auto" height="100px">
              {% endif %}
          </li>
        </ul>

        <div>
          <p class="right_bottom">登録ID：{{ shop.id }}</p>
        </div>
      </div>
      {% endfor %}

      {% else %}
      <p>データがないよ</p>
      {% endif %}

    </div>

    <a href="{% url 'list:delete' %}">Delete</a>
    <a href="{% url 'list:detail' %}">detail</a>
{% endblock %}
</body>
</html>
