body
{
    background: #fff;
}

img
{
    border:solid 1px #000;
}

.contents
{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: auto;
    width: 1000px;
}

.text
{
    height: auto;
    width: auto;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex: 1;

    align-content: center;
    align-items: center;
    padding: 3em;
  }

.box
{
    display: flex;
    width: 450px;
    height: 100px;
    margin: 0 auto;
    border: solid 1px #000;
}

.pos
{
    text-align: right;
    padding: 5px;
    margin: 0 auto;
}

.person
{
    width: 250px;
    padding: 5px;
    margin: 0 auto;
}

li
{
    list-style: none;
}