
*{
    box-sizing: border-box;
}

table
{
    width: 700px;
    margin: 0 auto;
}

.titleInput{
    display: block;
    width: 400px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

th
{
    background-color: darkgray;
}

td
{
    margin: 0;
    padding: 0px 0;
    background-color:#FFF;
    border: solid 1px;
}

textarea
{
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 150px;
}

.register {
    width: 150px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    display: block;
    margin: 10px auto;
    font-size: 15px;
    padding: 15px;
    border-radius: 100vh;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

.register:hover
{
  background-color: rgb(61, 61, 61);
}

.back
{
  width: 150px;
  background-color: #aaa;
  color: #000;
  font-weight: bold;
  display: block;
  margin: 10px auto;
  font-size: 15px;
  padding: 15px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

  /*チェックボックスのCSS*/

  .boxes
  {
    padding: 50px;
  }

  input[type="checkbox"] { display: none; }
  
  input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #000;
    cursor: pointer;

  }
  
  input[type="checkbox"] + label:last-child { margin: 20 auto; }
  
  input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }
  
  input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }