@charset "utf-8";
/*========= レイアウトのためのCSS ===============*/

/*基本的なCSS*/

body{
  background: #fff;
}

.text h2
{
  text-align: center;
}

.title
{
  text-align: center;
}

.item {
  display: flex;
  width: 900px;
  height: auto;
  margin:0 auto;
  flex-wrap: nowrap;
  margin-bottom: 2em;
}

.item:nth-child(odd) {
  flex-direction: row-reverse;
}
.item-image {
  width: 50%;
}
.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-text {
  display: flex;
  width: 450px;
  height: auto;
  text-align: center;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 3em;
}

/*エリア検索*/
.area_m
{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.area li{
  text-align: center;
  display: inline-block;
  color: #FFF;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width:150px;
  height:40px;
  background-color: #000;
}
.area li:hover
{
  background-color: rgb(61, 61, 61);
}

/*タグ検索*/
.tag li{
  display: inline-block;
  font-size: 50%;
  text-align: center;
  color: #000;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.tag li:hover
{
  background-color: rgb(61, 61, 61);
}

/*========= 検索窓のためのCSS ===============*/

/*検索窓のエリア*/
.search
{
  width: 600px;
  margin: 0 auto;
  padding: 0;
}

.search_c
{
  position: relative;
  font-size: 30px;
  display: block;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

/*テキスト入力input設定*/
#search-text{
  font-size: 25px;
  cursor: pointer;/*カーソルを指マークに*/
  width: 500px;/*テキスト入力エリアが伸びる後の横幅*/
  height: 80px;
  padding: 20px 0 20px 60px;
  border: 1px solid #bbbbbb;
}

#search-buttun
{
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 80px;
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  border: 1px solid #bbbbbb;
  font-size: 15px;
  padding: 0px;
  cursor: pointer;
}

#search-buttun:hover
{
  background-color: #aaa;
}