*
{
    margin: 0px;
}

.register a{
  color: #FFF;
  text-decoration: none;
}

body
{
  position: relative;
}
ul
{
	list-style: none;
}

.container
{
  border-bottom-style: dashed;
}

.content
{
  position: relative;
  display: flex;
  list-style: none;
  margin:10px; padding:10px;
  /*background: rgb(250, 229, 229);*/
}

#right_bottom
{
  position: absolute;
  right: 0;
  bottom: 0;
}

.measures
{
  min-height: 100px;
  width: auto;
	height: auto;
}

.measures li
{
    display: inline;
}

.overviews
{
  min-height: 300px;
  width: auto;
	height: auto;
  padding: 0px 50px 0px 50px;
}

  /* みんなのコメントcss
------------------------------------------------------------*/

.comments
{
  width: 700px;
  margin: 0 auto;
}

.comment
{
  position: relative;
  text-align: center;
  margin: 0px 40px;
  border-bottom-style: dashed;
}

.comment_m
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

.comment_d
{
  position: absolute;
  right: 0;
  bottom: 0;
}

.title_name
{
  display: inline-block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}


.Input
{
  width: 700px;
  margin: 0 auto;
}

.titleInput{
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  cursor: pointer;/*カーソルを指マークに*/
  width: 300px;/*テキスト入力エリアが伸びる後の横幅*/
  border: 1px solid #bbbbbb;
}

.wide{
  display: inline-block;
  margin:0;  
  padding:0;  
}

.commentInput{
  resize: none;
  font-size: 20px;
  cursor: pointer;/*カーソルを指マークに*/
  width: 600px;/*テキスト入力エリアが伸びる後の横幅*/
  height: 300px;

  border: 1px solid #bbbbbb;
}

.register {
  width: 150px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 10px auto;
  font-size: 15px;
  padding: 15px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.register:hover
{
  background-color: rgb(61, 61, 61);
}

.register_d {
  width: 100px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  display: block;
  margin: 5px auto;
  font-size: 10px;
  padding: 15px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.register_d a{
  color: #FFF;
  text-decoration: none;
}

.register_d:hover
{
  background-color: rgb(61, 61, 61);
}