a {
  color: #fff;
}
#search {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

#search:hover {
  color: #fff;
  background: #000;
}
#searchBox{
    width: 20%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    margin-left: 20px;
}

body
{
    color: #333;
    margin: auto;
}
