@charset "utf-8";
/*========= レイアウトのためのCSS ===============*/

/*基本的なCSS*/
body
{
  background: #FFF;
}

.content
{
  position: relative;
  display: flex;
  list-style: none;
  margin:10px; padding:10px;
  /*background: rgb(250, 229, 229);*/
  border-bottom-style: dashed;
}

.right_bottom
{
  position: absolute;
  right: 0;
  bottom: 0;
}


.main li
{

  margin: 0px;
  font-size: 20px;
  list-style: none;
}

.sab li
{
  list-style: none;
}

.measures
{

  min-height: 100px;
  width: auto;
  height: auto;
}

.measures li
{
    display: inline;
}