
*{box-sizing: border-box;}

ul.gnav-navi-1{
    background: #000;
    padding: 0;
    text-align: center;
    }

ul.gnav-navi-1 li{
    display: inline-block;
}

ul.gnav-navi-1 li:hover{
    background-color: rgb(61, 61, 61);
  }

ul.gnav-navi-1 li a{
    display: block;
    padding: 1em;
    color: #FFF;
    text-decoration: none;
}
ul.gnav-navi-1 a::first-line{
    font-size: 16px;
    font-weight: bold;
}
